
html, body {
	background: black;
	background-image: url("bG11.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
	max-width: 100%;
	overflow-x: hidden;
}


#head {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 5%;
	left: 1%;
	

}

#title {
	transition: 0.75s;
	padding: 30px;
}

#siteName {
	float: left;
}

a {
	font-size: 30px;
	color:#cc5500 ;
	text-decoration: none;
	font-family: "Noto Sans", sans-serif;
}

#title:hover {
	color: beige;

}

h3 {
	font-size: 25px;
	color: beige;
	font-family: "Noto Sans", sans-serif;
	text-align: left;
}

h2 {
	font-size: 35px;
	color: beige;
	margin-bottom: 20px;
	font-family: "Noto Sans", sans-serif;
}

h1 {
	position: relative;
	top: 5%;
	color: #cc5500;
	font-family: "Noto Sans", sans-serif;
	font-size: 120px;
}

#header {
	left: -50%;
	transition: 0.75s;
}


h2:hover {
	color: #cc5500;
	transition: 0.75s;
	cursor: pointer;
}

p {
	color: beige;
	font-size: 25px;
	font-family: "Noto Sans", sans-serif;

}

#vid {
	min-width: 100%;
	min-height: 100%;
}

#p1 {
	display: none;
	opacity: 1;
	transition: 0.75s;
}

#p2 {
	display: none;
	opacity: 1;
	transition: 0.75s;
}

section {
	position: relative;
	width: 40%;
	left: 50%;
	margin: 10px;
	margin-bottom: 15px;
	padding: 15px;
	opacity: 1;
	text-align: right;
	text-align: left;
	
}

#games {
	opacity: 0;
	transition: 0.75s;
}

#WebDev {
	opacity: 0;
	transition: 0.75s;
}

#gameContent{
	max-height: 70%;
	width: 40%;
	position:absolute;
	top: 20%;
	right: 5%;
	transition: 0.75s;
	overflow-y: scroll;
	display: none;
	opacity: 0;
}

#WebDevContent{
	max-height: 70%;
	width: 40%;
	position:absolute;
	top: 20%;
	right: 5%;
	transition: 0.75s;
	overflow-y: scroll;
	display: none;
	opacity: 0;
}

#whitespace {
	top: 500%;
}

#backButton {
	position: fixed;
	transform: scale(0.15, 0.15);
	top: -20%;
	left: -14%;
	margin: 0px;
	padding: 0px;
	transition: 0.75s;
	display: none;
	opacity: 0;
	transition: 0.75s;
	
}

#backButton:hover{
	cursor: pointer;
}