
video#myVideo {
	width: 100%;
	height: auto;
	vertical-align: middle;
	position: fixed;
}

body {
	background: black;
	bottom: 30%;
}

h1 {
	color: #00ff7f;
	text-align: center;
	position: absolute;
	left: 0%;
	top: 40%;
	width: 100%;
	font-size: 120px;
	font-family: "Noto Sans", sans-serif;
	transition: 0.75s;
}


#head {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 5%;
	left: 1%;
	

}


#title {
	transition: 0.75s;
}

#siteName {
	float: left;
}

a {
	font-size: 30px;
	color: #00ff7f;
	text-decoration: none;
	font-family: "Noto Sans", sans-serif;
	transition: 0.75s;
}


#hidTitle {
	opacity: 0;
}

a:hover {
	color: white;

}

#active {
	text-decoration: line-through;
}

p{
	color: white;
	font-size: 25px;
	letter-spacing: 1.75;
	line-height: 1.6;
}

#info {
	color: black;
	position: absolute;
	left: 30%;
	top: 130%;
	text-align: left;
	margin: 40px;
	width: 33%;
	font-size: 25px;
	letter-spacing: 1.75;
	padding: 30px;
	opacity: 1;
}

img {
	width: 100%;
	position: fixed;


}

h2 {
	font-size: 55px;
	color: whitesmoke;
	font-family: "Noto Sans", sans-serif;
}

h3 {
	font-size: 30px;
	color: #00ff7f;
	font-family: "Noto Sans", sans-serif;
	text-align: center;
}

section {
	position: absolute;
	width: 33%;
	margin: 40px;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
}

#Who {
	left: 5%;
	top: 90%;
	transition: 0.75s;
}

#CM {
	right: 5%;
	top: 175%;
	transition: 0.75s;
}

#SKILLS {
	left: 5%;
	top: 260%;
	transition: 0.75s;
}

#projects {
	width: 15%;
	top: 285%;
	right: -10%;
	padding: 0px 10px;
	transition: 0.75s;

}

#whitespace {
	top: 340%;
}