
html, body {
	background: black;
	max-width: 100%;
	overflow-x: hidden;
}

#head {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 5%;
	left: 1%;
	

}

#title {
	transition: 0.75s;
}

#siteName {
	float: left;
}

a {
	padding: 30px;
	font-size: 30px;
	color: #00ff7f;
	text-decoration: none;
	font-family: "Noto Sans", sans-serif;
}

a:hover {
	color: white;

}

h3 {
	font-size: 25px;
	color: whitesmoke;
	font-family: "Noto Sans", sans-serif;
	text-align: left;
}

h2 {
	font-size: 35px;
	color: whitesmoke;
	margin-bottom: 20px;
	font-family: "Noto Sans", sans-serif;
}

h1 {
	position: relative;
	top: 5%;
	color: #00ff7f;
	font-family: "Noto Sans", sans-serif;
	font-size: 120px;
}

#header {
	left: -50%;
	transition: 0.75s;
}


h2:hover {
	color: #00ff7f;
	transition: 0.75s;
	cursor: pointer;
}

p {
	color: whitesmoke;
	font-size: 25px;
	font-family: "Noto Sans", sans-serif;

}

#p1 {
	display: none;
	opacity: 1;
	transition: 0.75s;
}

#p2 {
	display: none;
	opacity: 1;
	transition: 0.75s;
}

section {
	position: relative;
	width: 40%;
	left: 50%;
	margin: 10px;
	margin-bottom: 15px;
	padding: 15px;
	opacity: 1;
	text-align: right;
	text-align: left;
}

#games {
	opacity: 0;
	transition: 0.75s;
}

#WebDev {
	opacity: 0;
	transition: 0.75s;
}

#gameContent{
	max-height: 70%;
	width: 40%;
	position:absolute;
	top: 20%;
	right: 5%;
	transition: 0.75s;
	overflow-y: scroll;
	opacity: 0;
}

#whitespace {
	top: 500%;
}

#backButton {
	position: absolute;
	width: 15%;
	top: 15%;
	left: 2%;
	margin: 0px;
	padding: 0px;
	transition: 0.75s;
	background-color: #00ff7f;
}